In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("user_point_title.csv")
df

     user_id  title_id     point
0          8        20  9.430000
1          8       119  9.430000
2          8       140  4.325000
3          9       113  9.080000
4         10        14  9.960000
5         11       164  3.040000
6         13       143  9.520000
7         14        54  4.500000
8         15        66  4.500000
9         16        88  7.863333
10        17       102  4.500000
11        18        54  3.625000
12        19        27  8.340000
13        20        97  4.500000
14        21        97  4.500000
15        22       100  4.025000
16        23         6  4.500000
17        23        30  3.620000
18        23       142  3.560000
19        24         1  3.420000
20        24        27  8.390000
21        25        14  7.830000
22        26        41  4.500000
23        26        43  4.500000
24        26        50  4.500000
25        26       102  4.500000
26        27        12  3.020000
27        27       133  9.420000
28        28        54  5.812500
29        29        88  3.610000
..       ...       ...       ...
115      100       120  8.840000
116      101       112  3.400000
117      102        97  3.580000
118      103       112  3.420000
119      104        16  9.400000
120      105        16  3.975000
121      106        16  5.985000
122      107       101  9.380000
123      108       120  7.570000
124      109       101  9.680000
125      110        34  3.500000
126      111        23  9.670000
127      112        24  6.660000
128      113       116  3.205000
129      114         1  3.630000
130      114         2  3.630000
131      114       150  3.310000
132      116       106  9.590000
133      117       120  6.245000
134      118       101  9.570000
135      119       101  9.390000
136      120       155  3.030000
137      121       106  8.470000
138      122        21  8.470000
139      122        50  3.025000
140      122       106  3.370000
141      123       106  8.470000
142      124        34  4.500000
143      125        63  8.440000
144      125       106  8.360000

[145 rows x 3 columns]

In [5]:
book_ratingCount = (df.groupby
        (by=['title_id'])
        ['point'].mean().reset_index().rename(columns={'point': 'total_point'})
        [['title_id', 'total_point']])

In [6]:
book_ratingCount

    title_id  total_point
0          1     3.525000
1          2     3.625000
2          6     6.925000
3         12     6.246667
4         14     7.480000
5         15     8.940000
6         16     5.597500
7         20     9.430000
8         21     8.655000
9         23     5.834000
10        24     5.580000
11        27     8.365000
12        28     3.420000
13        29     3.030000
14        30     6.345000
15        31     4.787500
16        34     3.482000
17        38     9.475000
18        40     3.670000
19        41     5.817500
20        43     4.500000
21        48     3.030000
22        50     3.762500
23        54     4.396875
24        55     8.470000
25        56     7.135000
26        58     8.900000
27        59     3.310000
28        63     8.705000
29        64     8.150000
..       ...          ...
35        97     6.679167
36        98     3.030000
37       100     4.158750
38       101     8.899048
39       102     4.500000
40       103     8.087500
41       104     3.640000
42       106     6.900000
43       107     3.490000
44       112     5.665000
45       113     9.080000
46       116     5.992500
47       119     9.430000
48       120     7.801250
49       121     3.030000
50       129     6.553333
51       130     7.096667
52       133     9.420000
53       137     9.590000
54       140     4.325000
55       142     3.560000
56       143     9.520000
57       149     3.030000
58       150     3.310000
59       152     4.035000
60       155     3.030000
61       157     5.820000
62       162     4.500000
63       163     3.020000
64       164     3.040000

[65 rows x 2 columns]

In [12]:
book_ratingCount.sort_values(by=['total_point'],ascending = False).reset_index()

    index  title_id  total_point
0      31        81     9.620000
1      53       137     9.590000
2      56       143     9.520000
3      17        38     9.475000
4      47       119     9.430000
5       7        20     9.430000
6      52       133     9.420000
7      45       113     9.080000
8       5        15     8.940000
9      26        58     8.900000
10     38       101     8.899048
11     28        63     8.705000
12      8        21     8.655000
13     24        55     8.470000
14     11        27     8.365000
15     29        64     8.150000
16     40       103     8.087500
17     48       120     7.801250
18      4        14     7.480000
19     25        56     7.135000
20     51       130     7.096667
21      2         6     6.925000
22     42       106     6.900000
23     35        97     6.679167
24     50       129     6.553333
25     14        30     6.345000
26      3        12     6.246667
27     33        88     6.228333
28     46       116     5.992500
29      9        23     5.834000
..    ...       ...          ...
35     15        31     4.787500
36     39       102     4.500000
37     62       162     4.500000
38     32        82     4.500000
39     20        43     4.500000
40     23        54     4.396875
41     54       140     4.325000
42     34        91     4.310000
43     37       100     4.158750
44     59       152     4.035000
45     30        66     3.873333
46     22        50     3.762500
47     18        40     3.670000
48     41       104     3.640000
49      1         2     3.625000
50     55       142     3.560000
51      0         1     3.525000
52     43       107     3.490000
53     16        34     3.482000
54     12        28     3.420000
55     27        59     3.310000
56     58       150     3.310000
57     64       164     3.040000
58     49       121     3.030000
59     36        98     3.030000
60     21        48     3.030000
61     57       149     3.030000
62     60       155     3.030000
63     13        29     3.030000
64     63       163     3.020000

[65 rows x 3 columns]