In [1]:
import pandas as pd

In [3]:
transaction_df = pd.read_csv("transaction.csv")
transaction_df.rename( columns={'Unnamed: 0':'index'}, inplace=True )

In [4]:
def process_date(sample):
    date_obj = sample.return_date - sample.hire_date
    # year = int(date_obj[:4])
    # month = int(date_obj[4:6])
    # day = int(date_obj[6:8])
    # sample['year'] = year
    # sample['month'] = month
    sample['hire_date_length_temp'] = date_obj
    sample['due_date_length_temp'] = sample.due_date - sample.hire_date
    return sample

In [5]:
transaction_df

,index,hire_date,user_id,book_id,due_date,hire_type,id_y,price,return_date,status,barcode,title_id
0,0,2017-02-15 00:00:00+00:00,37,53683-70,2017-07-15 00:00:00+00:00,2,1,59792.00,2018-03-19 11:25:23+00:00,1,53683-70,23
1,1,2017-02-15 00:00:00+00:00,39,53398-70,2017-07-15 00:00:00+00:00,2,2,100000.00,2017-07-17 10:08:27+00:00,1,53398-70,97
2,2,2017-06-06 00:00:00+00:00,111,53683-60,2017-06-13 00:00:00+00:00,3,3,14948.00,2017-06-12 16:01:18+00:00,1,53683-60,23
3,3,2017-07-01 00:00:00+00:00,64,58584-80,2017-08-31 00:00:00+00:00,2,4,73124.00,2018-03-19 11:17:35+00:00,1,58584-80,88
4,4,2017-06-19 00:00:00+00:00,25,53664-90,2017-08-31 00:00:00+00:00,2,5,64337.00,2017-09-22 14:23:02+00:00,1,53664-90,14
5,5,2017-07-03 00:00:00+00:00,72,53388-70,2017-08-31 00:00:00+00:00,2,6,55146.00,2017-09-14 14:50:40+00:00,1,53388-70,101
6,6,2017-07-17 00:00:00+00:00,21,53398-70,2017-07-24 00:00:00+00:00,3,7,25000.00,2017-09-14 14:33:30+00:00,1,53398-70,97
7,7,2017-09-11 00:00:00+00:00,105,53620-100,2017-09-18 00:00:00+00:00,3,8,21285.75,2017-09-11 10:52:17+00:00,1,53620-100,16
8,8,2017-09-11 00:00:00+00:00,105,53620-100,2017-09-18 00:00:00+00:00,3,9,21285.75,2018-01-13 13:53:19+00:00,1,53620-100,16
9,9,2017-09-11 00:00:00+00:00,118,53388-90,2018-02-15 00:00:00+00:00,2,10,55146.00,2018-02-05 11:01:36+00:00,1,53388-90,101
10,10,2017-09-11 00:00:00+00:00,119,53388-80,2018-02-15 00:00:00+00:00,2,11,55146.00,2018-02-28 16:31:19+00:00,1,53388-80,101
11,11,2017-09-11 00:00:00+00:00,20,53398-130,2017-09-18 00:00:00+00:00,3,12,25000.00,2018-01-13 13:56:59+00:00,1,53398-130,97
12,12,2017-09-11 00:00:00+00:00,106,53620-60,2018-02-15 00:00:00+00:00,2,13,85143.00,2018-01-22 11:15:57+00:00,1,53620-60,16
13,13,2017-09-11 00:00:00+00:00,106,53620-70,2018-02-15 00:00:00+00:00,2,14,85143.00,2017-09-11 11:20:08+00:00,1,53620-70,16
14,14,2017-09-11 00:00:00+00:00,104,53620-70,2018-02-15 00:00:00+00:00,2,15,85143.00,2018-02-28 10:17:39+00:00,1,53620-70,16
15,15,2017-09-11 00:00:00+00:00,61,53620-90,2018-02-15 00:00:00+00:00,2,16,85143.00,2017-09-11 15:38:26+00:00,1,53620-90,16
16,16,2017-09-12 00:00:00+00:00,53,53698-60,2018-02-15 00:00:00+00:00,2,17,46864.00,2018-01-23 12:53:39+00:00,1,53698-60,12
17,17,2017-09-13 00:00:00+00:00,47,53400-80,2018-02-15 00:00:00+00:00,2,18,59489.00,2018-01-30 15:41:24+00:00,1,53400-80,130
18,18,2017-09-14 00:00:00+00:00,100,53394-80,2018-02-15 00:00:00+00:00,2,19,100000.00,2018-01-20 10:20:55+00:00,1,53394-80,120
19,19,2017-09-14 00:00:00+00:00,45,53400-100,2017-09-21 00:00:00+00:00,3,20,14872.25,2017-09-21 12:59:13+00:00,1,53400-100,130
20,20,2017-09-14 00:00:00+00:00,45,53398-100,2017-09-21 00:00:00+00:00,3,21,25000.00,2017-09-21 12:59:22+00:00,1,53398-100,97
21,21,2017-09-14 00:00:00+00:00,40,53398-80,2018-02-15 00:00:00+00:00,2,23,100000.00,2018-02-06 12:10:53+00:00,1,53398-80,97
22,22,2017-09-14 00:00:00+00:00,52,53698-80,2018-02-15 00:00:00+00:00,2,24,46864.00,2018-01-25 14:41:21+00:00,1,53698-80,12
23,23,2017-09-14 00:00:00+00:00,107,53388-70,2017-09-21 00:00:00+00:00,3,25,13786.50,2017-09-21 14:54:21+00:00,1,53388-70,101
24,24,2017-09-14 00:00:00+00:00,8,021022070,2018-02-15 00:00:00+00:00,2,26,98.00,2017-09-14 15:46:55+00:00,1,021022070,140
25,25,2017-09-14 00:00:00+00:00,8,58585-90,2018-02-15 00:00:00+00:00,2,27,90000.00,2018-02-27 13:09:08+00:00,1,58585-90,119
26,26,2017-09-14 00:00:00+00:00,8,58578-60,2018-02-15 00:00:00+00:00,2,28,74942.00,2018-02-27 13:08:54+00:00,1,58578-60,20
27,27,2017-09-14 00:00:00+00:00,8,021022070,2018-02-15 00:00:00+00:00,2,29,98.00,2017-11-10 15:25:10+00:00,1,021022070,140
28,28,2017-09-15 00:00:00+00:00,109,53388-100,2017-09-22 00:00:00+00:00,3,30,13786.50,2017-09-21 16:23:06+00:00,1,53388-100,101
29,29,2017-09-15 00:00:00+00:00,83,53389-110,2018-02-15 00:00:00+00:00,2,31,61105.00,2018-02-02 13:02:42+00:00,1,53389-110,38
...,...,...,...,...,...,...,...,...,...,...,...,...
143,143,2018-10-30 00:00:00+00:00,50,53698-90,2018-11-06 00:00:00+00:00,3,147,11716.00,2018-11-05 14:35:17+00:00,1,53698-90,12
144,144,2018-10-31 00:00:00+00:00,1,53613-80,2019-02-15 00:00:00+00:00,2,148,52217.00,2019-01-22 15:02:56+00:00,1,53613-80,106
145,145,2018-10-31 00:00:00+00:00,1,53613-60,2019-02-15 00:00:00+00:00,2,149,52217.00,2019-01-22 15:01:46+00:00,1,53613-60,106
146,146,2018-10-31 00:00:00+00:00,1,53613-160,2019-02-15 00:00:00+00:00,2,150,52217.00,2019-01-22 15:01:05+00:00,1,53613-160,106
147,147,2018-11-01 00:00:00+00:00,73,53601-60,2019-02-15 00:00:00+00:00,2,151,80598.00,2019-01-21 09:28:44+00:00,1,53601-60,64
148,148,2018-11-02 00:00:00+00:00,79,53613-180,2019-02-15 00:00:00+00:00,2,152,52217.00,2019-01-22 15:02:24+00:00,1,53613-180,106
149,149,2018-11-02 00:00:00+00:00,79,53682-80,2019-02-15 00:00:00+00:00,2,153,86557.00,2019-01-22 15:04:37+00:00,1,53682-80,63
150,150,2018-11-02 00:00:00+00:00,23,53538-150,2018-11-09 00:00:00+00:00,3,154,12221.00,2018-11-02 15:00:40+00:00,1,53538-150,6
151,151,2018-11-06 00:00:00+00:00,89,54396-90,2019-02-15 00:00:00+00:00,2,155,100000.00,2019-02-15 10:39:39+00:00,1,54396-90,129
152,152,2018-11-07 00:00:00+00:00,86,021021893,2018-11-14 00:00:00+00:00,3,156,25000.00,2018-11-07 13:43:15+00:00,1,021021893,112
153,153,2018-11-03 00:00:00+00:00,108,53394-70,2018-11-10 00:00:00+00:00,3,157,25000.00,2018-11-08 11:22:26+00:00,1,53394-70,120
154,154,2018-11-08 00:00:00+00:00,42,58583-70,2018-11-15 00:00:00+00:00,3,158,16538.75,2018-11-12 09:56:57+00:00,1,58583-70,100
155,155,2019-01-03 00:00:00+00:00,91,021022407,2019-01-10 00:00:00+00:00,3,160,25000.00,2019-01-03 11:06:46+00:00,1,021022407,157
156,156,2019-01-14 00:00:00+00:00,46,58583-70,2019-01-21 00:00:00+00:00,3,162,16538.75,2019-01-15 09:46:46+00:00,1,58583-70,100
157,157,2019-01-14 00:00:00+00:00,22,58583-60,2019-01-21 00:00:00+00:00,3,163,16538.75,2019-01-14 15:24:02+00:00,1,58583-60,100
158,158,2019-01-14 00:00:00+00:00,22,58583-60,2019-01-21 00:00:00+00:00,3,164,16538.75,2019-01-15 09:38:28+00:00,1,58583-60,100
159,159,2019-01-15 00:00:00+00:00,101,021021893,2019-01-22 00:00:00+00:00,3,165,25000.00,2019-01-15 11:39:22+00:00,1,021021893,112
160,160,2019-01-15 00:00:00+00:00,101,021021893,2019-01-22 00:00:00+00:00,3,166,25000.00,2019-01-16 10:07:35+00:00,1,021021893,112
161,161,2019-01-15 00:00:00+00:00,70,53681-70,2019-01-22 00:00:00+00:00,3,167,23962.25,2019-01-22 10:10:59+00:00,1,53681-70,107
162,162,2019-01-16 00:00:00+00:00,24,53618-130,2019-01-23 00:00:00+00:00,3,168,25000.00,2019-01-16 09:56:32+00:00,1,53618-130,1
163,163,2019-01-16 00:00:00+00:00,27,53499-60,2019-01-23 00:00:00+00:00,3,169,13887.50,2019-01-16 10:03:29+00:00,1,53499-60,133
164,164,2019-01-18 00:00:00+00:00,27,53698-100,2019-07-15 00:00:00+00:00,2,170,46864.00,2019-01-18 09:13:13+00:00,1,53698-100,12
165,165,2019-01-24 00:00:00+00:00,93,021022409,2019-01-31 00:00:00+00:00,3,171,25000.00,2019-01-30 10:33:43+00:00,1,021022409,157
166,166,2019-02-12 00:00:00+00:00,113,58578-60,2019-02-26 00:00:00+00:00,3,175,0.00,2019-02-15 14:33:48+00:00,1,58578-60,20
167,167,2019-02-13 00:00:00+00:00,69,53499-60,2019-07-15 00:00:00+00:00,2,176,55550.00,2019-04-18 09:15:45+00:00,1,53499-60,133
168,168,2019-02-15 00:00:00+00:00,120,021022394,2019-07-15 00:00:00+00:00,2,177,100000.00,2019-02-15 13:05:29+00:00,1,021022394,155
169,169,2019-02-18 00:00:00+00:00,67,52076-130,2019-02-25 00:00:00+00:00,3,178,16564.00,2019-02-20 11:20:10+00:00,1,52076-130,91
170,170,2019-02-28 00:00:00+00:00,62,52076-130,2019-07-15 00:00:00+00:00,2,182,66256.00,2019-02-28 11:55:34+00:00,1,52076-130,91
171,171,2019-02-28 00:00:00+00:00,62,52076-130,2019-07-15 00:00:00+00:00,2,183,66256.00,2019-02-28 11:56:35+00:00,1,52076-130,91
172,172,2019-02-28 00:00:00+00:00,110,53700-140,2019-03-07 00:00:00+00:00,3,185,15276.25,2019-03-05 10:26:45+00:00,1,53700-140,34