In [2]:
import pandas as pd
from datetime import datetime as dt

In [3]:
transaction_df = pd.read_csv("transaction.csv")
transaction_df.rename( columns={'Unnamed: 0':'index'}, inplace=True )
transaction_df['due_date']= pd.to_datetime(transaction_df['due_date'])
transaction_df['hire_date']= pd.to_datetime(transaction_df['hire_date'])
transaction_df['return_date']= pd.to_datetime(transaction_df['return_date'])

In [4]:
def process_date(sample):
    date_obj = sample.return_date - sample.hire_date
    # year = int(date_obj[:4])
    # month = int(date_obj[4:6])
    # day = int(date_obj[6:8])
    # sample['year'] = year
    # sample['month'] = month
    sample['hire_date_length_temp'] = date_obj
    sample['due_date_length_temp'] = sample.due_date - sample.hire_date
    sample['ratio_hire_date'] = round((sample.return_date - sample.hire_date)/(sample.due_date - sample.hire_date),3)
    return sample

In [5]:
transaction_df = transaction_df.groupby('index').apply(process_date).reset_index(drop=True)

In [7]:
transaction_df.head(10)

,index,hire_date,user_id,book_id,due_date,hire_type,id_y,price,return_date,status,barcode,title_id,hire_date_length_temp,due_date_length_temp,ratio_hire_date
0,0,2017-02-15 00:00:00+00:00,37,53683-70,2017-07-15 00:00:00+00:00,2,1,59792.00,2018-03-19 11:25:23+00:00,1,53683-70,23,397 days 11:25:23,150 days,2.650
1,1,2017-02-15 00:00:00+00:00,39,53398-70,2017-07-15 00:00:00+00:00,2,2,100000.00,2017-07-17 10:08:27+00:00,1,53398-70,97,152 days 10:08:27,150 days,1.016
2,2,2017-06-06 00:00:00+00:00,111,53683-60,2017-06-13 00:00:00+00:00,3,3,14948.00,2017-06-12 16:01:18+00:00,1,53683-60,23,6 days 16:01:18,7 days,0.953
3,3,2017-07-01 00:00:00+00:00,64,58584-80,2017-08-31 00:00:00+00:00,2,4,73124.00,2018-03-19 11:17:35+00:00,1,58584-80,88,261 days 11:17:35,61 days,4.286
4,4,2017-06-19 00:00:00+00:00,25,53664-90,2017-08-31 00:00:00+00:00,2,5,64337.00,2017-09-22 14:23:02+00:00,1,53664-90,14,95 days 14:23:02,73 days,1.310
5,5,2017-07-03 00:00:00+00:00,72,53388-70,2017-08-31 00:00:00+00:00,2,6,55146.00,2017-09-14 14:50:40+00:00,1,53388-70,101,73 days 14:50:40,59 days,1.248
6,6,2017-07-17 00:00:00+00:00,21,53398-70,2017-07-24 00:00:00+00:00,3,7,25000.00,2017-09-14 14:33:30+00:00,1,53398-70,97,59 days 14:33:30,7 days,8.515
7,7,2017-09-11 00:00:00+00:00,105,53620-100,2017-09-18 00:00:00+00:00,3,8,21285.75,2017-09-11 10:52:17+00:00,1,53620-100,16,0 days 10:52:17,7 days,0.065
8,8,2017-09-11 00:00:00+00:00,105,53620-100,2017-09-18 00:00:00+00:00,3,9,21285.75,2018-01-13 13:53:19+00:00,1,53620-100,16,124 days 13:53:19,7 days,17.797
9,9,2017-09-11 00:00:00+00:00,118,53388-90,2018-02-15 00:00:00+00:00,2,10,55146.00,2018-02-05 11:01:36+00:00,1,53388-90,101,147 days 11:01:36,157 days,0.939