In [1]:
import os
import sys
import django
import logging
import itertools
import pandas as pd
import numpy as np
from tqdm import tqdm
from django.db.models import Count
from sklearn.metrics import mean_squared_error
sys.path.insert(0, "/Users/victornguyen/Sites/07.book_management/")
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "book_management.settings")
django.setup()
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.DEBUG)
import django
import time
from main_site.models import Rating
import rs_system.neighborhood_cf_rs as nb_rs

logger = logging.getLogger('Evaluation')

In [17]:
ratings_count = Rating.objects.all().count()
test_data_length = round(ratings_count * 10 /100)
all_ratings_df = pd.DataFrame(list(Rating.objects.all().values()))
logger.debug('{} ratings available'.format(ratings_count))
all_ratings_df.head()
all_ratings_df_columns = list(all_ratings_df.columns.values)
all_ratings_df_columns

2019-07-03 03:05:55,788 : DEBUG : 159 ratings available

['id', 'rating', 'rating_timestamp', 'title_id', 'type', 'user_id']

In [3]:
user_ids = Rating.objects.values('user_id') \
    .annotate(title_count=Count('title_id')) \
    .order_by('-title_count')
title_ids = Rating.objects.values('title_id') \
    .annotate(user_count=Count('user_id')) \
    .order_by('-user_count')
user_ids_df = pd.DataFrame.from_records(user_ids)
title_ids_df = pd.DataFrame.from_records(title_ids)
user_ids_df.head(5)

   title_count  user_id
0            7       39
1            5       48
2            4       26
3            4      122
4            4       45

In [4]:
from sklearn.model_selection import KFold

In [29]:
kf = KFold(n_splits=10)
for train, test in kf.split(all_ratings_df):
    train_data = np.array(all_ratings_df)[train]
    print("Train_data")
    print(train_data)
    test_data = np.array(all_ratings_df)[test]
    print("Test_data")
    print(test_data)
    print(len(train_data))
    print(len(test_data))
    test_pd = pd.DataFrame(test_data)
    test_pd.columns = all_ratings_df_columns
    print(test_pd)
    print("=====================")
    break
test_pd

Train_data
[[17 Decimal('4.02') Timestamp('2019-07-02 03:58:01.743332') 100
  'calculate' 22]
 [18 Decimal('4.50') Timestamp('2019-07-02 03:58:01.745491') 6
  'calculate' 23]
 [19 Decimal('7.62') Timestamp('2019-07-02 03:58:01.747124') 30
  'calculate' 23]
 [20 Decimal('3.56') Timestamp('2019-07-02 03:58:01.750031') 142
  'calculate' 23]
 [21 Decimal('3.42') Timestamp('2019-07-02 03:58:01.751533') 1
  'calculate' 24]
 [22 Decimal('8.39') Timestamp('2019-07-02 03:58:01.753098') 27
  'calculate' 24]
 [23 Decimal('6.16') Timestamp('2019-07-02 03:58:01.754781') 14
  'calculate' 25]
 [24 Decimal('4.50') Timestamp('2019-07-02 03:58:01.757805') 41
  'calculate' 26]
 [25 Decimal('4.50') Timestamp('2019-07-02 03:58:01.759751') 43
  'calculate' 26]
 [26 Decimal('4.50') Timestamp('2019-07-02 03:58:01.761271') 50
  'calculate' 26]
 [27 Decimal('4.50') Timestamp('2019-07-02 03:58:01.762924') 102
  'calculate' 26]
 [28 Decimal('3.06') Timestamp('2019-07-02 03:58:01.764524') 12
  'calculate' 27]
 [29 Decimal('9.42') Timestamp('2019-07-02 03:58:01.767268') 133
  'calculate' 27]
 [30 Decimal('6.64') Timestamp('2019-07-02 03:58:01.768913') 54
  'calculate' 28]
 [31 Decimal('6.64') Timestamp('2019-07-02 03:58:01.770925') 105
  'calculate' 28]
 [32 Decimal('4.39') Timestamp('2019-07-02 03:58:01.772624') 88
  'calculate' 29]
 [33 Decimal('3.61') Timestamp('2019-07-02 03:58:01.775194') 66
  'calculate' 30]
 [34 Decimal('9.59') Timestamp('2019-07-02 03:58:01.776630') 137
  'calculate' 31]
 [35 Decimal('5.49') Timestamp('2019-07-02 03:58:01.778367') 66
  'calculate' 32]
 [36 Decimal('4.65') Timestamp('2019-07-02 03:58:01.779843') 14
  'calculate' 33]
 [37 Decimal('3.08') Timestamp('2019-07-02 03:58:01.782432') 106
  'calculate' 34]
 [38 Decimal('9.34') Timestamp('2019-07-02 03:58:01.783837') 106
  'calculate' 35]
 [39 Decimal('8.41') Timestamp('2019-07-02 03:58:01.785397') 106
  'calculate' 36]
 [40 Decimal('4.50') Timestamp('2019-07-02 03:58:01.787291') 23
  'calculate' 37]
 [41 Decimal('9.35') Timestamp('2019-07-02 03:58:01.789251') 6
  'calculate' 38]
 [42 Decimal('4.50') Timestamp('2019-07-02 03:58:01.791212') 24
  'calculate' 38]
 [43 Decimal('8.87') Timestamp('2019-07-02 03:58:01.792727') 12
  'calculate' 39]
 [44 Decimal('8.94') Timestamp('2019-07-02 03:58:01.794799') 88
  'calculate' 39]
 [45 Decimal('8.92') Timestamp('2019-07-02 03:58:01.796522') 97
  'calculate' 39]
 [46 Decimal('5.55') Timestamp('2019-07-02 03:58:01.798948') 100
  'calculate' 39]
 [47 Decimal('8.94') Timestamp('2019-07-02 03:58:01.801110') 106
  'calculate' 39]
 [48 Decimal('8.78') Timestamp('2019-07-02 03:58:01.802741') 116
  'calculate' 39]
 [49 Decimal('8.55') Timestamp('2019-07-02 03:58:01.804311') 119
  'calculate' 39]
 [50 Decimal('9.61') Timestamp('2019-07-02 03:58:01.806777') 97
  'calculate' 40]
 [51 Decimal('5.45') Timestamp('2019-07-02 03:58:01.809244') 12
  'calculate' 41]
 [52 Decimal('4.50') Timestamp('2019-07-02 03:58:01.810821') 23
  'calculate' 41]
 [53 Decimal('3.47') Timestamp('2019-07-02 03:58:01.812879') 100
  'calculate' 42]
 [54 Decimal('4.50') Timestamp('2019-07-02 03:58:01.815850') 97
  'calculate' 43]
 [55 Decimal('3.62') Timestamp('2019-07-02 03:58:01.818823') 2
  'calculate' 44]
 [56 Decimal('3.62') Timestamp('2019-07-02 03:58:01.824663') 98
  'calculate' 44]
 [57 Decimal('4.50') Timestamp('2019-07-02 03:58:01.826628') 23
  'calculate' 45]
 [58 Decimal('8.96') Timestamp('2019-07-02 03:58:01.835907') 97
  'calculate' 45]
 [59 Decimal('3.53') Timestamp('2019-07-02 03:58:01.838209') 106
  'calculate' 45]
 [60 Decimal('6.98') Timestamp('2019-07-02 03:58:01.839873') 130
  'calculate' 45]
 [61 Decimal('4.50') Timestamp('2019-07-02 03:58:01.841544') 100
  'calculate' 46]
 [62 Decimal('7.21') Timestamp('2019-07-02 03:58:01.843037') 130
  'calculate' 47]
 [63 Decimal('8.84') Timestamp('2019-07-02 03:58:01.844572') 21
  'calculate' 48]
 [64 Decimal('7.14') Timestamp('2019-07-02 03:58:01.847772') 41
  'calculate' 48]
 [65 Decimal('8.47') Timestamp('2019-07-02 03:58:01.849522') 55
  'calculate' 48]
 [66 Decimal('7.14') Timestamp('2019-07-02 03:58:01.851287') 56
  'calculate' 48]
 [67 Decimal('7.14') Timestamp('2019-07-02 03:58:01.852891') 103
  'calculate' 48]
 [68 Decimal('4.50') Timestamp('2019-07-02 03:58:01.855373') 152
  'calculate' 49]
 [69 Decimal('6.98') Timestamp('2019-07-02 03:58:01.857165') 12
  'calculate' 50]
 [70 Decimal('9.04') Timestamp('2019-07-02 03:58:01.858851') 103
  'calculate' 51]
 [71 Decimal('9.07') Timestamp('2019-07-02 03:58:01.860867') 12
  'calculate' 52]
 [72 Decimal('8.99') Timestamp('2019-07-02 03:58:01.863392') 12
  'calculate' 53]
 [73 Decimal('4.50') Timestamp('2019-07-02 03:58:01.864766') 130
  'calculate' 54]
 [74 Decimal('3.03') Timestamp('2019-07-02 03:58:01.866247') 48
  'calculate' 55]
 [75 Decimal('3.65') Timestamp('2019-07-02 03:58:01.868252') 54
  'calculate' 55]
 [76 Decimal('4.50') Timestamp('2019-07-02 03:58:01.870736') 82
  'calculate' 56]
 [77 Decimal('3.59') Timestamp('2019-07-02 03:58:01.872464') 100
  'calculate' 57]
 [78 Decimal('5.24') Timestamp('2019-07-02 03:58:01.873835') 163
  'calculate' 58]
 [79 Decimal('5.40') Timestamp('2019-07-02 03:58:01.875142') 91
  'calculate' 59]
 [80 Decimal('6.00') Timestamp('2019-07-02 03:58:01.876552') 23
  'calculate' 60]
 [81 Decimal('3.03') Timestamp('2019-07-02 03:58:01.879499') 16
  'calculate' 61]
 [82 Decimal('7.24') Timestamp('2019-07-02 03:58:01.880971') 91
  'calculate' 62]
 [83 Decimal('9.31') Timestamp('2019-07-02 03:58:01.882687') 101
  'calculate' 62]
 [84 Decimal('8.94') Timestamp('2019-07-02 03:58:01.884176') 15
  'calculate' 63]
 [85 Decimal('4.50') Timestamp('2019-07-02 03:58:01.886558') 88
  'calculate' 64]
 [86 Decimal('8.90') Timestamp('2019-07-02 03:58:01.888082') 58
  'calculate' 65]
 [87 Decimal('9.62') Timestamp('2019-07-02 03:58:01.890574') 81
  'calculate' 66]
 [88 Decimal('4.50') Timestamp('2019-07-02 03:58:01.891996') 91
  'calculate' 67]
 [89 Decimal('3.03') Timestamp('2019-07-02 03:58:01.894952') 29
  'calculate' 68]
 [90 Decimal('3.67') Timestamp('2019-07-02 03:58:01.896643') 40
  'calculate' 68]
 [91 Decimal('3.01') Timestamp('2019-07-02 03:58:01.898085') 98
  'calculate' 68]
 [92 Decimal('9.41') Timestamp('2019-07-02 03:58:01.899877') 133
  'calculate' 69]
 [93 Decimal('3.31') Timestamp('2019-07-02 03:58:01.901452') 59
  'calculate' 70]
 [94 Decimal('3.49') Timestamp('2019-07-02 03:58:01.902924') 107
  'calculate' 70]
 [95 Decimal('9.20') Timestamp('2019-07-02 03:58:01.904409') 133
  'calculate' 71]
 [96 Decimal('8.27') Timestamp('2019-07-02 03:58:01.906028') 101
  'calculate' 72]
 [97 Decimal('9.07') Timestamp('2019-07-02 03:58:01.907564') 30
  'calculate' 73]
 [98 Decimal('8.46') Timestamp('2019-07-02 03:58:01.908998') 64
  'calculate' 73]
 [99 Decimal('6.56') Timestamp('2019-07-02 03:58:01.910766') 31
  'calculate' 74]
 [100 Decimal('6.78') Timestamp('2019-07-02 03:58:01.912365') 101
  'calculate' 75]
 [101 Decimal('8.43') Timestamp('2019-07-02 03:58:01.914598') 152
  'calculate' 76]
 [102 Decimal('3.02') Timestamp('2019-07-02 03:58:01.916265') 31
  'calculate' 77]
 [103 Decimal('3.03') Timestamp('2019-07-02 03:58:01.918281') 149
  'calculate' 78]
 [104 Decimal('4.50') Timestamp('2019-07-02 03:58:01.919720') 162
  'calculate' 79]
 [105 Decimal('7.84') Timestamp('2019-07-02 03:58:01.921167') 64
  'calculate' 80]
 [106 Decimal('8.49') Timestamp('2019-07-02 03:58:01.922868') 129
  'calculate' 81]
 [107 Decimal('9.52') Timestamp('2019-07-02 03:58:01.924376') 38
  'calculate' 82]
 [108 Decimal('9.43') Timestamp('2019-07-02 03:58:01.926042') 38
  'calculate' 83]
 [109 Decimal('8.13') Timestamp('2019-07-02 03:58:01.927441') 129
  'calculate' 84]
 [110 Decimal('3.36') Timestamp('2019-07-02 03:58:01.929283') 104
  'calculate' 85]
 [111 Decimal('4.50') Timestamp('2019-07-02 03:58:01.930862') 112
  'calculate' 86]
 [112 Decimal('3.88') Timestamp('2019-07-02 03:58:01.932545') 121
  'calculate' 87]
 [113 Decimal('4.50') Timestamp('2019-07-02 03:58:01.934218') 28
  'calculate' 88]
 [114 Decimal('8.97') Timestamp('2019-07-02 03:58:01.935529') 63
  'calculate' 89]
 [115 Decimal('3.23') Timestamp('2019-07-02 03:58:01.936882') 129
  'calculate' 89]
 [116 Decimal('8.22') Timestamp('2019-07-02 03:58:01.938213') 157
  'calculate' 89]
 [117 Decimal('3.02') Timestamp('2019-07-02 03:58:01.939720') 34
  'calculate' 90]
 [118 Decimal('4.50') Timestamp('2019-07-02 03:58:01.941137') 157
  'calculate' 91]
 [119 Decimal('9.63') Timestamp('2019-07-02 03:58:01.943072') 112
  'calculate' 92]
 [120 Decimal('9.42') Timestamp('2019-07-02 03:58:01.944925') 157
  'calculate' 93]
 [121 Decimal('8.54') Timestamp('2019-07-02 03:58:01.947108') 112
  'calculate' 94]
 [122 Decimal('3.07') Timestamp('2019-07-02 03:58:01.948500') 34
  'calculate' 95]
 [123 Decimal('4.50') Timestamp('2019-07-02 03:58:01.950071') 112
  'calculate' 96]
 [124 Decimal('9.18') Timestamp('2019-07-02 03:58:01.951684') 38
  'calculate' 97]
 [125 Decimal('3.32') Timestamp('2019-07-02 03:58:01.953049') 34
  'calculate' 98]
 [126 Decimal('9.22') Timestamp('2019-07-02 03:58:01.954411') 101
  'calculate' 99]
 [127 Decimal('8.84') Timestamp('2019-07-02 03:58:01.955791') 120
  'calculate' 100]
 [128 Decimal('3.40') Timestamp('2019-07-02 03:58:01.957399') 112
  'calculate' 101]
 [129 Decimal('3.58') Timestamp('2019-07-02 03:58:01.958810') 97
  'calculate' 102]
 [130 Decimal('3.42') Timestamp('2019-07-02 03:58:01.960200') 112
  'calculate' 103]
 [131 Decimal('9.40') Timestamp('2019-07-02 03:58:01.962335') 16
  'calculate' 104]
 [132 Decimal('3.98') Timestamp('2019-07-02 03:58:01.963920') 16
  'calculate' 105]
 [133 Decimal('5.98') Timestamp('2019-07-02 03:58:01.965266') 16
  'calculate' 106]
 [134 Decimal('9.38') Timestamp('2019-07-02 03:58:01.966797') 101
  'calculate' 107]
 [135 Decimal('7.57') Timestamp('2019-07-02 03:58:01.968958') 120
  'calculate' 108]
 [136 Decimal('9.68') Timestamp('2019-07-02 03:58:01.970470') 101
  'calculate' 109]
 [137 Decimal('3.50') Timestamp('2019-07-02 03:58:01.971914') 34
  'calculate' 110]
 [138 Decimal('9.67') Timestamp('2019-07-02 03:58:01.973348') 23
  'calculate' 111]
 [139 Decimal('6.66') Timestamp('2019-07-02 03:58:01.974766') 24
  'calculate' 112]
 [140 Decimal('4.50') Timestamp('2019-07-02 03:58:01.976105') 20
  'calculate' 113]
 [141 Decimal('6.30') Timestamp('2019-07-02 03:58:01.977818') 116
  'calculate' 113]
 [142 Decimal('3.63') Timestamp('2019-07-02 03:58:01.979684') 1
  'calculate' 114]
 [143 Decimal('3.63') Timestamp('2019-07-02 03:58:01.981067') 2
  'calculate' 114]
 [144 Decimal('3.31') Timestamp('2019-07-02 03:58:01.982428') 150
  'calculate' 114]
 [145 Decimal('9.41') Timestamp('2019-07-02 03:58:01.983867') 42
  'calculate' 115]
 [146 Decimal('9.59') Timestamp('2019-07-02 03:58:01.985294') 106
  'calculate' 116]
 [147 Decimal('7.04') Timestamp('2019-07-02 03:58:01.986788') 120
  'calculate' 117]
 [148 Decimal('9.57') Timestamp('2019-07-02 03:58:01.988324') 101
  'calculate' 118]
 [149 Decimal('9.39') Timestamp('2019-07-02 03:58:01.989991') 101
  'calculate' 119]
 [150 Decimal('3.03') Timestamp('2019-07-02 03:58:01.991416') 155
  'calculate' 120]
 [151 Decimal('8.47') Timestamp('2019-07-02 03:58:01.992925') 106
  'calculate' 121]
 [152 Decimal('8.47') Timestamp('2019-07-02 03:58:01.994641') 21
  'calculate' 122]
 [153 Decimal('3.08') Timestamp('2019-07-02 03:58:01.996449') 50
  'calculate' 122]
 [154 Decimal('3.00') Timestamp('2019-07-02 03:58:01.997957') 55
  'calculate' 122]
 [155 Decimal('3.37') Timestamp('2019-07-02 03:58:01.999366') 106
  'calculate' 122]
 [156 Decimal('8.47') Timestamp('2019-07-02 03:58:02.000977') 106
  'calculate' 123]
 [157 Decimal('4.50') Timestamp('2019-07-02 03:58:02.002741') 34
  'calculate' 124]
 [158 Decimal('8.44') Timestamp('2019-07-02 03:58:02.004267') 63
  'calculate' 125]
 [159 Decimal('8.36') Timestamp('2019-07-02 03:58:02.005680') 106
  'calculate' 125]]
Test_data
[[1 Decimal('9.43') Timestamp('2019-07-02 03:58:01.701612') 20
  'calculate' 8]
 [2 Decimal('9.43') Timestamp('2019-07-02 03:58:01.713435') 119
  'calculate' 8]
 [3 Decimal('4.32') Timestamp('2019-07-02 03:58:01.714876') 140
  'calculate' 8]
 [4 Decimal('9.08') Timestamp('2019-07-02 03:58:01.717819') 113
  'calculate' 9]
 [5 Decimal('9.96') Timestamp('2019-07-02 03:58:01.719302') 14
  'calculate' 10]
 [6 Decimal('3.44') Timestamp('2019-07-02 03:58:01.721195') 164
  'calculate' 11]
 [7 Decimal('9.52') Timestamp('2019-07-02 03:58:01.722933') 143
  'calculate' 13]
 [8 Decimal('4.50') Timestamp('2019-07-02 03:58:01.724418') 54
  'calculate' 14]
 [9 Decimal('4.50') Timestamp('2019-07-02 03:58:01.727398') 66
  'calculate' 15]
 [10 Decimal('6.99') Timestamp('2019-07-02 03:58:01.729059') 88
  'calculate' 16]
 [11 Decimal('9.61') Timestamp('2019-07-02 03:58:01.730588') 120
  'calculate' 16]
 [12 Decimal('4.50') Timestamp('2019-07-02 03:58:01.732431') 102
  'calculate' 17]
 [13 Decimal('3.62') Timestamp('2019-07-02 03:58:01.735128') 54
  'calculate' 18]
 [14 Decimal('8.34') Timestamp('2019-07-02 03:58:01.737250') 27
  'calculate' 19]
 [15 Decimal('4.50') Timestamp('2019-07-02 03:58:01.739397') 97
  'calculate' 20]
 [16 Decimal('4.50') Timestamp('2019-07-02 03:58:01.741615') 97
  'calculate' 21]]
143
16
    id rating            rating_timestamp title_id       type user_id
0    1   9.43  2019-07-02 03:58:01.701612       20  calculate       8
1    2   9.43  2019-07-02 03:58:01.713435      119  calculate       8
2    3   4.32  2019-07-02 03:58:01.714876      140  calculate       8
3    4   9.08  2019-07-02 03:58:01.717819      113  calculate       9
4    5   9.96  2019-07-02 03:58:01.719302       14  calculate      10
5    6   3.44  2019-07-02 03:58:01.721195      164  calculate      11
6    7   9.52  2019-07-02 03:58:01.722933      143  calculate      13
7    8   4.50  2019-07-02 03:58:01.724418       54  calculate      14
8    9   4.50  2019-07-02 03:58:01.727398       66  calculate      15
9   10   6.99  2019-07-02 03:58:01.729059       88  calculate      16
10  11   9.61  2019-07-02 03:58:01.730588      120  calculate      16
11  12   4.50  2019-07-02 03:58:01.732431      102  calculate      17
12  13   3.62  2019-07-02 03:58:01.735128       54  calculate      18
13  14   8.34  2019-07-02 03:58:01.737250       27  calculate      19
14  15   4.50  2019-07-02 03:58:01.739397       97  calculate      20
15  16   4.50  2019-07-02 03:58:01.741615       97  calculate      21
=====================

    id rating            rating_timestamp title_id       type user_id
0    1   9.43  2019-07-02 03:58:01.701612       20  calculate       8
1    2   9.43  2019-07-02 03:58:01.713435      119  calculate       8
2    3   4.32  2019-07-02 03:58:01.714876      140  calculate       8
3    4   9.08  2019-07-02 03:58:01.717819      113  calculate       9
4    5   9.96  2019-07-02 03:58:01.719302       14  calculate      10
5    6   3.44  2019-07-02 03:58:01.721195      164  calculate      11
6    7   9.52  2019-07-02 03:58:01.722933      143  calculate      13
7    8   4.50  2019-07-02 03:58:01.724418       54  calculate      14
8    9   4.50  2019-07-02 03:58:01.727398       66  calculate      15
9   10   6.99  2019-07-02 03:58:01.729059       88  calculate      16
10  11   9.61  2019-07-02 03:58:01.730588      120  calculate      16
11  12   4.50  2019-07-02 03:58:01.732431      102  calculate      17
12  13   3.62  2019-07-02 03:58:01.735128       54  calculate      18
13  14   8.34  2019-07-02 03:58:01.737250       27  calculate      19
14  15   4.50  2019-07-02 03:58:01.739397       97  calculate      20
15  16   4.50  2019-07-02 03:58:01.741615       97  calculate      21

In [ ]:
# all_ratings_df = pd.merge(all_ratings_df, user_ids_df, left_on='user_id', right_on='user_id')
# all_ratings_df = pd.merge(all_ratings_df, title_ids_df, left_on='title_id', right_on='title_id')
# all_ratings_df.head(5)

In [ ]:
count = 0
test_data = list()
for row in tqdm(user_ids_df.itertuples()):
    if row.title_count == 1:
        break
    if row.title_count > 10:
        limit_row = 3
    elif row.title_count > 5:
        limit_row = 2
    else:
        limit_row = 1
    test_data.extend(list(Rating.objects.filter(user_id=row.user_id).order_by('-rating').values()[:limit_row]))
    count +=limit_row
    if count == test_data_length:
        break
test_data_df =  pd.DataFrame(test_data)
test_data_id = list(test_data_df.id)
test_data_id
# [41, 58, 23, 54, 18, 1, 130, 83, 139, 105, 21, 48, 51, 28

In [ ]:
train_data_df = pd.DataFrame(list(Rating.objects.exclude(id__in=test_data_id).values()))
rating_df = pd.DataFrame(list(Rating.objects.all().values()))
train_data_df

In [ ]:
len(test_data)

In [ ]:
y_true = [3, -0.5, 2, 7]
y_pred = [2.5, 0.0, 2, 8]
mean_squared_error(y_true, y_pred)

In [ ]:
train_data_df

In [ ]:
test_data_df

In [ ]:
res_nb = nb_rs.RecommendationNB()
rating_matrix, item_rating_matrix = res_nb.get_rating_matrix()
mean_centered_rating_matrix = res_nb.get_mean_centered_ratings_matrix(rating_matrix)
item_mean_centered_rating_matrix = res_nb.get_mean_centered_ratings_matrix(item_rating_matrix)

user_similarity_matrix = res_nb.get_similarity_matrix(rating_matrix)
item_similarity_matrix = res_nb.get_similarity_matrix(item_rating_matrix)

In [ ]:
rating_matrix[8]

In [ ]:
y_true = []
y_pred = []
for row in tqdm(test_data_df.itertuples()):
    y_true.append(float(row.rating))
#     predict_result = res_nb.predict(row.user_id, row.title_id, rating_matrix, mean_centered_rating_matrix, user_similarity_matrix)
    y_pred.append(rating_matrix[row.user_id,row.title_id])
print(y_true)
print(y_pred)

In [33]:
kf = KFold(n_splits=10)
for train, test in kf.split(all_ratings_df):
    # Train data
    train_data = np.array(all_ratings_df)[train]
    train_data_df = pd.DataFrame(train_data)
    train_data_df.columns = all_ratings_df_columns

    # Test data
    test_data = np.array(all_ratings_df)[test]
    test_data_df = pd.DataFrame(test_data)
    test_data_df.columns = all_ratings_df_columns

    # Initialize RS
    res_nb = nb_rs.RecommendationNB(train_data)
    y_true = []
    y_pred = []
    for row in tqdm(test_data_df.itertuples()):
        y_true.append(float(row.rating))
        predict_result = res_nb.predict(row.user_id - 1, row.title_id - 1, res_nb.rating_matrix,
                                            res_nb.mean_centered_ratings_matrix,
                                            res_nb.user_similarity_matrix)
        y_pred.append(predict_result)
    print(y_true)
    print(y_pred)
    print("=====================")
    break

Load all rating data
Creating ratings matrix

AttributeError: 'numpy.ndarray' object has no attribute 'itertuples'